{% extends '../layout/base.html' %}

{% block main%}

<link rel="stylesheet" href="/css/meetup/form.css">

<div class="form-block">
    <h1>Meetup Form </h1>
    <hr />

    <!-- Success message -->
{% if message %}
    <div class="message">{{message}}</div>
{% endif %}
    <!-- Error message -->
{% if error %}
    <div class="er-message">{{error}}</div>
{% endif %}

    <form action="" method="post">
        <div>
            <label for="title">Title</label>
            <input type="text" placeholder="Enter title of Meetup" id="meetupTitle" name="title" required />
        </div>
        <div>
            <label for="description">Description</label>
            <textarea id="description"  name="description" cols="30" rows="5" placeholder="enter description about Meetup"></textarea>
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" placeholder="Enter Location of Meetup" id="meetupLocation" name="location" required />
        </div>
        <div>
            <label for="date">Date</label>
            <input type="date" placeholder="Select Date of Meetup" id="meetupDate" name="date" required />
        </div>
        <div>
            <label for="image">Image</label>
            <input type="text" placeholder="Enter Image url of Meetup" id="meetupImage" name="image" required />
        </div>
        <div>
            <button type="submit">Add Meetup</button>
        </div>
    </form>
</div>
    

{% endblock %}